<div>
    <mat-card style="text-align: center; margin-top: 20px;">
        LISTA DE PROJETOS
    </mat-card>
    <mat-grid-list cols="4" rowHeight="1:1" >
        <mat-grid-tile *ngFor="let projeto of projects">
            <mat-card class="example-card">
                <mat-card-title >{{projeto.name}}</mat-card-title>
                <mat-card-content>
                    <p>{{projeto.user.name}}</p>
                </mat-card-content>
                <mat-card-actions class="card-footer">
                    <a mat-button [routerLink]="['/project',projeto.id]">Entre no Projeto</a>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>