<div style="text-align: center;">
    <mat-card>
        <mat-card style="text-align: center; margin-top: 20px;">
            <p>CADASTRO DE PROJETO</p>
            <mat-form-field class="example-full-width mgInput" appearance="fill">
                <mat-label>Nome</mat-label>
                <input >
            </mat-form-field>
           
            <div>
                <button mat-raised-button color="primary">Cadastrar</button>
            </div>
        </mat-card>
    </mat-card>
</div>