.main{
    padding: 20px;
}

.title{
    font-size: 30px;
    font-weight: bolder;
}

.example-card{
    min-width: 250px;
    min-height: 120px;
} 

.card-footer{
    border-top: 1px solid #CCCC;
    background-color: white;
    padding: 20px 0px 0px 0px;
    display: flex;
    justify-content: left;
}

.card-footer > a{
    color: rgba(32, 32, 32, 0.8);
    text-decoration: none;
}