<div class="main">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1 class="title">{{projects.name}}</h1>
        <a mat-button [routerLink]="['/task-create']">Criar tarefa</a>
    </div>
    <mat-card>
        <h3><b>Empresa do projeto:</b> {{projects.company}}</h3>
        <h3><b>Porcentagem de conclusão:</b> {{percentage}}%</h3>
        <h3><b>Criado em:</b> {{projects.created |
                    date:'dd/MM/YYYY hh:mm:ss'}}</h3>
        <h3><b>Data Inicio:</b> {{projects.startDate |
                        date:'dd/MM/YYYY hh:mm:ss'}}</h3>
        <h3><b>Data Fim:</b> {{projects.endDate |
                            date:'dd/MM/YYYY hh:mm:ss'}}</h3>
        
        <div class="container" *ngIf="isLate; else isntLate">
            <h3 style="color: red;">O projeto está atrasado</h3>
        </div>  
        
        <ng-template #isntLate>
            <h3 style="color: green;">O não projeto está atrasado</h3>
        </ng-template>
    </mat-card>
    <mat-grid-list cols="4" rowHeight="1:1" >
        <mat-grid-tile *ngFor="let task of tasks">
            <mat-card class="example-card">
                <mat-card-title >{{task.name}}</mat-card-title>
                <mat-card-content>
                    <p>{{task.name}}</p>
                </mat-card-content>
                <mat-slide-toggle [checked]=task.end (click)="updateTask(task)" >Concluido </mat-slide-toggle>
                <mat-card-actions>
                    <a mat-button [routerLink]="['/task-list-subtask',task.id]">SubTasks</a>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>