<!-- <div style="text-align: center;">
    <mat-card>
        <mat-card style="text-align: center; margin-top: 20px;">
            LISTA DE USUÁRIOS
        </mat-card>
        <mat-card>
            <table id="customers">
                <TR>
                    <TH>ID</TH>
                    <TH>Nome</TH>
                    <TH>Trabalho</TH>
                    <TH>Empresa</TH>
                    <TH>Data de Cadastro</TH>
                </TR>
                <TR *ngFor="let user of users">
                    <TD>{{ user.id }}</TD>
                    <TD>{{ user.name }}</TD>
                    <TD>{{ user.office }}</TD>
                    <TD>{{ user.company }}</TD>
                    <TD>{{ user.created }}</TD>
                </TR>
            </table>
        </mat-card>
    </mat-card>
</div> -->