<div style="text-align: center;">
    <mat-card>
        <mat-card style="text-align: center; margin-top: 20px;">
            <p>CRIAR SUBTAREFA PARA A TAREFA {{task.name}}</p>
            <mat-form-field class="example-full-width mgInput" appearance="fill">
                <mat-label for="description">Descrição</mat-label>
                <input matInput name="description" [(ngModel)]="description">
            </mat-form-field><br>
            <div>
                <button (click)="cadastrar()" mat-raised-button color="primary">Cadastrar</button>
            </div>
        </mat-card>
    </mat-card>
</div>