#titulo{
    font-size: 100px;
}
#div_home{
   margin-top: 10%;
}

#div_title{
    padding: 10%;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



